<form [formGroup]="addAdminForm" (ngSubmit)="addAdmin()">
  <h2 mat-dialog-title *ngIf="!isAdminAdded">Додайте запис</h2>
  <mat-dialog-content *ngIf="isAdminAdded">{{successMsg}}</mat-dialog-content>
  <mat-dialog-content *ngIf="!isAdminAdded">
    <mat-card>
      <mat-form-field>
        <input formControlName="username" matInput placeholder="{{placeholders.login}}">
        <mat-error>
          <div *ngIf="username.hasError('required')">{{errorRequired}}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="text-area-container">
        <textarea formControlName="email" matInput placeholder="{{placeholders.email}}"></textarea>
        <mat-error>
          <div *ngIf="email.hasError('required')">{{errorRequired}}</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="text-area-container">
        <textarea formControlName="password" matInput placeholder="{{placeholders.password}}"></textarea>
        <mat-error>
          <div *ngIf="password.hasError('required')">{{errorRequired}}</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="text-area-container">
        <textarea formControlName="confirmPassword" matInput placeholder="{{placeholders.confirmPassword}}"></textarea>
        <mat-error>
          <div *ngIf="confirmPassword.hasError('required')">{{errorRequired}}</div>
        </mat-error>
      </mat-form-field>
      <mat-error>
        <div *ngIf="errRequestMsg">{{errRequestMsg}}</div>
      </mat-error>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions *ngIf="!isAdminAdded">
    <button type="submit" class="modal-button" [disabled]="!isFormValid()" mat-raised-button color="primary">
      {{btnAdd}}
    </button>
    <button mat-button mat-dialog-close>{{btnClose}}</button>
  </mat-dialog-actions>
  <mat-dialog-actions *ngIf="isAdminAdded">
    <button mat-raised-button mat-dialog-close color="primary">{{btnOk}}</button>
  </mat-dialog-actions>
</form>
