<form [formGroup]="facultyForm" (ngSubmit)="editEntityRecord()">
  <h2 mat-dialog-title *ngIf="!isUpdated">{{title}}</h2>
  <h2 mat-dialog-title *ngIf="isUpdated">{{titleUpdated}}</h2>
  <mat-dialog-content *ngIf="!isUpdated">
    <mat-form-field>
      <input matInput [formControl]="facultyForm.controls['name']" placeholder="{{placeholders.name}}">
      <mat-error>
        <div *ngIf="facultyForm.controls['name'].hasError('required')">{{errorRequired}}</div>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControl]="facultyForm.controls['description']" placeholder="{{placeholders.description}}">
      <mat-error>
        <div *ngIf="facultyForm.controls['description'].hasError('required')">{{errorRequired}}</div>
      </mat-error>
    </mat-form-field>
    <mat-error>
      <div *ngIf="errorMessage">{{errorMessage}}</div>
    </mat-error>
  </mat-dialog-content>
  <mat-dialog-actions *ngIf="!isUpdated">
    <div class="btn-center">
      <button [disabled]="!facultyForm.valid" type="submit" class="modal-button" mat-raised-button color="primary">
        {{btnUpd}}
      </button>
      <button mat-button mat-dialog-close>{{btnClose}}</button>
    </div>
  </mat-dialog-actions>
  <mat-dialog-actions *ngIf="isUpdated">
    <div class="btn-center">
      <button mat-raised-button mat-dialog-close color="primary">{{btnOk}}</button>
    </div>
  </mat-dialog-actions>
</form>
