<div *ngIf="errWithDisplayingGroups" class="mat-error">{{errWithDisplayingGroups}}</div>
<app-entity-table [columnsArray]="headingColumnsOfTable" [entityArray]="groups"></app-entity-table>
<app-pagination (goPage)="goPage($event)"
                (goPrev)="goPrev()"
                (goNext)="goNext()"
                [numberOfRecords]="numberOfRecords"
                [currentPage]="currentPage"
                [isLoading]="isLoading"
                [limitPerPage]="limitPerPage"
                [numberOfPagesToShow]="3"></app-pagination>
