<div *ngIf="errWithDisplayingGroups" class="mat-error">{{errWithDisplayingGroups}}</div>
<button  class="addButton" mat-raised-button color="primary" (click)="openDialog()">{{btnAdd}}</button>
<app-entity-table [entityName]="'Group'" [columnsArray]="headingColumnsOfTable"
                [entityArray]="groups" [detailUrl]="'/groups'"></app-entity-table>
<mat-paginator [length]="numberOfRecords"
               [pageSize]="limit"
               [pageSizeOptions]="pageSizeOptions"
               (page)="goPage($event)">
</mat-paginator>
