<mat-card *ngIf="count > 0">
  <div class="pagination-functionality">
    <button mat-raised-button (click)="onPrev()"
            [disabled]="page === 1 || loading"
    >&lt;&lt;</button>
    <button mat-raised-button *ngFor="let pageNumber of getPages()"
            (click)="onPage(pageNumber)"
            [class.active]=" pageNumber === page"
            [routerLinkActive]="['active']">
      {{pageNumber}}
    </button>
    <button mat-raised-button (click)="onNext()"
            [disabled]="lastPage() || loading"
    >&gt;&gt;</button>
  </div>
  <div class="pagination-description">
    <div>{{page}} cторінка із {{totalPages()}}</div>
    <div>Кількість предметів: {{count}}</div>
    <div *ngIf="errWithCounting">{{errWithCounting}}</div>
  </div>
</mat-card>
