<mat-card *ngIf="numberOfRecords > 0">
  <div class="pagination-functionality">
    <button mat-raised-button (click)="onPrev()"
            [disabled]="currentPage === 1 || isLoading">&lt;&lt;
    </button>
    <button mat-raised-button *ngFor="let pageNumber of getPages()"
            (click)="onPage(pageNumber)"
            [class.active]=" pageNumber === currentPage"
            [disabled]="isLoading">{{pageNumber}}
    </button>
    <button mat-raised-button (click)="onNext()"
            [disabled]="isLastPage() || isLoading">&gt;&gt;
    </button>
  </div>
  <div class="pagination-description">
    <div>{{currentPage}} cторінка із {{getTotalNumberOfPages()}}</div>
    <div>Кількість елементів: {{numberOfRecords}}</div>
    <div *ngIf="errWithCounting" class="mat-error">{{errWithCounting}}</div>
  </div>
</mat-card>
