<button mat-raised-button
        color="primary"
        (click)="goBack()"
        class="fa fa-long-arrow-left
        backButton"></button>

<button class="addButton"
        mat-raised-button
        color="primary"
        (click)="openQuestionAddModal()">{{btnAdd}}</button>

<dtest-entity-table [entityName]="'Question'"
                    [columnsArray]="headingColumnsOfTable"
                    [entityArray]="questions"
                    [buttons]="buttons"></dtest-entity-table>

<mat-paginator [length]="numberOfRecords"
                [pageSize]="limit"
                [pageSizeOptions]="pageSizeOptions"
                (page)="goPage($event)"></mat-paginator>
