<div class="col-md-12">
  <div class="col-md-8 mx-auto">
    <mat-card class="row info-block" id="topInfo">
      <mat-card-title>Загальна інформація</mat-card-title>
      <mat-card-content class="row">
        <div class="col-md-5" id="photoBlock">
       
        </div>
        <div class="col-md-7" id="fioBlock">
          <mat-form-field>
            <input matInput placeholder="{{placeholders.sname}}">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{placeholders.name}}">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{placeholders.fname}}">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
