@import '../../../../mixins';
mat-card.info-block {
  padding: 0;
  margin-bottom: 20px;
  mat-card-title {
    @include indigo-grey($app-light-theme);
    padding: 10px 24px;
  }
  mat-card-content {
    display: flex;
    padding: 24px;
  }
}
mat-card.info-block#topInfo{
  #photoBlock {
    ng4-files-drop {
      display: block;
      background-color: rgb(211, 210, 210);
      width: 100%;
      height: 250px;
      text-align: center;
      cursor: pointer;
      #profPhoto {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        &:hover {
          #fa-plus-block {
            background-color: rgba(0, 0, 0, 0.6);
            .fa-plus {
              color: rgb(237, 235, 235);
            }
          }
        }
        #fa-plus-block {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0);
          transition: background-color .2s ease;
          ng4-files-click {
            .fa-plus {
              cursor: pointer;
              line-height: 250px;
              font-size: 40px;
              color: rgba(0, 0, 0, 0);
              transition: background-color .2s ease;
            }
          }
          &:hover {
            ng4-files-click {
              .fa-plus {
                color: rgb(255, 255, 255);
              }
            }
          }
        }
      }
      #emptyPhoto {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -32px;
        padding: 0 30px;
        height: 64px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        &:hover {
          color: rgb(237, 229, 229);
        }
      }
    }
  }
  #fioBlock {
    mat-form-field {
      width: 100%;
    }
  }
}
mat-card.info-block#midInfo,
mat-card.info-block#bottInfo{
  mat-form-field{
    width: 100%;
  }
}
