.login-container {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background: url("images/login_image.jpg");
  background-size: cover;

  .login-form {
    margin: auto;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1:first-child {
      text-align: center;
      font-family: "Arial Black", serif;
    }

    mat-form-field {
      width: 100%;
    }

    button {
      width: 100%;
    }
    .server-error {
      text-align: center;
      margin: 10px 0;
    }
  }
}
