<mat-toolbar>

  <a mat-button="" color="primary" [routerLink]="'/'" [routerLinkActive]="navActiveClass" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a mat-button="" color="primary" [routerLink]="'/students'" [routerLinkActive]="navActiveClass" [routerLinkActiveOptions]="{exact: true}">Students</a>
  <a class="login" *ngIf="!loginService.user.isLogged()" mat-raised-button="" color="primary" routerLink="login" [routerLinkActive]="navActiveClass">Login</a>
  <a class="login" *ngIf="loginService.user.isLogged()" mat-button="" color="primary" routerLink="logout" [routerLinkActive]="navActiveClass">Logout</a>

</mat-toolbar>
