<app-entity-table [entityName]="'Speciality'" [columnsArray]="headingColumnsOfTable" [entityArray]="specialities"> </app-entity-table>

<app-pagination (goPage)="goPage($event)"
                (goPrev)="goPrev()"
                (goNext)="goNext()"
                [numberOfRecords]="numberOfRecords"
                [currentPage]="currentPage"
                [isLoading]="isLoading"
                [limitPerPage]="limitPerPage"
                [numberOfPagesToShow]="3"
                [errWithCounting]="errWithCountingRecords"></app-pagination>
