<div *ngIf="errWithDisplayingSpeciality" class="mat-error">{{errWithDisplayingSpeciality}}</div>
<button mat-raised-button
        color="primary"
        (click)="modal.openDialogue()"
        class="addButton">{{modalInfo.btnAddSpeciality}}</button>
<app-modal #modal>
  <mat-card>
    <mat-form-field>
      <input matInput placeholder="{{modalInfo.placeholderCode}}">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{modalInfo.placeholderName}}">
    </mat-form-field>
    <button class="modal-button"
            mat-raised-button
            color="primary">{{modalInfo.btnAdd}}</button>
    <button class="modal-button"
            mat-raised-button
            color="primary"
            (click)="modal.closeDialogue()">{{modalInfo.btnClose}}</button>
  </mat-card>
</app-modal>
<app-entity-table [entityName]="'Speciality'" [columnsArray]="headingColumnsOfTable" [entityArray]="specialities"></app-entity-table>

