.subject-name {
  width: 400px;
}
.group-name {
  width: 250px;
}

.date-of-start {
  width: 220px;
}

.time-of-start {
  width: 220px;

}

.date-of-end {
  width: 220px;
}
.time-of-end {
  width: 220px;
}
