.addButton {
  float: right;
  margin: 15px 0;
}

app-modal {
  max-height: auto;
  .col-md-4 {
    .parts {
      width: 100%;
      float: left;
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      .mat-form-field {
        width: 100%;
        input {
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      #inputFile {
        margin-top: 15px;
        input {
          float: right;
        }
      }
      .modal-button {
        float: right;
        margin-top: 30px;
      }
    }
  }
}
