@import '../../../mixins';

table {
  font-size: 15px;
  .heading-row {
    @include indigo-grey($dtest-light-theme);
  }
  td {
    font-weight: $primary-font-weight;
    cursor: pointer;
  }
  th {
    border: none;
  }
  i.fa {
    cursor: pointer;
    &:hover {
      transform: scale(1.4);
    }
    &.fa-pencil-square-o {
      color: rgb(20, 128, 56);;
    }
    &.fa-times {
      color: rgb(218, 5, 5);
    }
  }
}
