@import '../../../mixins';

table {
  margin-top: 50px;
  font-size: 15px;
  .heading-row {
    @include indigo-grey($app-light-theme);
  }
  td {
    font-weight: $primary-font-weight;
  }
  th {
    border: none;
  }
  i.fa {
    cursor: pointer;
    &:hover {
      transform: scale(1.4);
    }
    &.fa-pencil-square-o {
      color: #148038;
    }
    &.fa-times {
      color: rgb(218, 5, 5);
    }
  }

}
