
<table class="entity-grid table table-responsive table-hover">
  <thead>
    <tr class="heading-row">
      <th *ngFor="let col of columnsArray">{{col}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="body-row" *ngFor="let tableItem of tableArray"
        (dblclick)="onSelect(tableItem)">
      <td *ngFor="let item of tableItem">{{item}}</td>
      <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
  </tbody>
</table>
