/*
h2 {
  text-align: center;
}

mat-dialog-actions {
  margin-top: 20px;
}

mat-form-field {
  display: block;
  margin-top: 10px;
  width: 60%;
}

form {
  width: 800px;
}

.btn-center {
  margin: auto;
}
*/
