@import '../../../variables';

.wrapper {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 90%;
  box-shadow: $basic-box-shadow;
  border-radius: 20px;
  padding: 20px;
  animation-name: incoming;
  animation-duration: 2s;
  @keyframes incoming {
    from {
          left: -100%;
    }
    to {
         left: 5%;
    }
  }
}

button {
  margin: 10px;
  border-radius: 15px;
     &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  animation-name: buttonincoming;
  animation-duration: 2s;
  @keyframes buttonincoming {
    from {
      left: 200%;
    }
    to {
      left: 5%;
    }
  }
}

.imagin {
  box-shadow: $basic-box-shadow;
  border-radius: 20px;
  background-color: lightgrey;
}

h1 {
  &:hover {
    color: rgb(51, 51, 204);
    text-decoration: underline;
  }
}
