 <div class = "wrapper" *ngIf="student" >
  <div class="row">
    <div class="col-sm-5 imagin">
       <img src="data:image/png;base64,{{student.photo}}" alt="Photo">
    </div>
    <div class = "col-sm-6">
      <h1><strong>Ідентифікатор(ID) студента:</strong> {{student.userId}}</h1>
      <h1><strong>Прізвище:</strong> {{student.studentSurname}}</h1>
      <h1><strong>Ім'я:</strong> {{student.studentName}}</h1>
      <h1><strong>По-батькові:</strong> {{student.studentFname}}</h1>
      <h1><strong>Номер(ID) залікової книжки:</strong> {{student.gradebookId}}</h1>
      <h1><strong>Ідентифікатор(ID) групи:</strong> {{student.groupId}}</h1>
      <h1><strong>Пароль:</strong> {{student.plainPassword}}</h1>
    </div>
  </div>
   <button mat-button="" color="primary"(click)="goBack()"><h2>&#171;Назад до таблиці</h2></button>
</div>
