@import '../../../variables';

.wrapper {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 90%;
  box-shadow: $basic-box-shadow;
  border-radius: 20px;
  padding: 20px;
  animation-name: incoming;
  animation-duration: 2s;
  font-size: 2rem;
  @keyframes incoming {
    from {
      left: -100%;
    }
    to {
      left: 5%;
    }
  }
}

button {
  margin: 10px;
  border-radius: 15px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  animation-name: buttonincoming;
  animation-duration: 2s;
  @keyframes buttonincoming {
    from {
      left: 200%;
    }
    to {
      left: 0;
    }
  }
}

.imagin img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  &:hover {
    box-shadow: $basic-box-shadow;
  }
}

p {
  font-size: 2rem;
  &:hover {
    color: rgb(51, 51, 204);
    text-decoration: underline;
  }
}
