.login-form {
  margin: auto;
  width: 600px;
  h1:first-child {
    text-align: center;
    font-family: "Arial Black", serif;
  }
  mat-form-field {
    width: 100%;
  }
  button {
    width: 100%;
  }

  .server-error {
    text-align: center;
    margin: 10px 0;
  }
}
