#title {
  font-size: 23px;
  width: 300px;
  position: relative;
  float: left;
  text-align: center;
  left: 50%;
  margin: 15px 0 15px -230px;
}
.backButton,
.addButton {
  margin: 15px 0;
}

.backButton {
  float: left;
  font-size: 30px;
}

.addButton {
  float: right;
}
