$spinner-width: 100px;
$spinner-height: 100px;

.spinner-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Fallback color */
  opacity: 0;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* Modal Content */
.spinner {
  background-color: transparent;
  position: absolute;
  top: calc(50% - #{$spinner-height/2});
  left: calc(50% - #{$spinner-width/2});
  transform: translate(-50%, -50%);
}
