<form [formGroup]="form" (ngSubmit)="editQuestion()">
  <h2 mat-dialog-title>Редагувати запитання</h2>
  <mat-dialog-content>
    <div class="container">
      <div class="row" id="addQuestion">
        <mat-form-field>
          <input matInput [placeholder]="placeholders.questionText" formControlName="questionText">
          <mat-error *ngIf="!form.controls['questionText'].valid && form.controls['questionText'].touched">
            {{errorQuestionText}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select [placeholder]="placeholders.level" formControlName="level">
            <mat-option *ngFor="let level of levels" [value]="level">
              {{level}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!form.controls['level'].valid && form.controls['level'].touched">{{errorEmptyInput}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select [placeholder]="placeholders.type" formControlName="type">
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{type.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!form.controls['type'].valid && form.controls['type'].touched">{{errorEmptyInput}}
          </mat-error>
        </mat-form-field>
        <input type="file" id="imageUpload" accept='image/*' (change)="fileSelect($event)">
        <label for="imageUpload">
          <a mat-button>Файл</a>
        </label>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" [disabled]="!(form.controls['questionText'].valid && form.controls['level'].valid && form.controls['type'].valid)"
            class="modal-button" mat-raised-button color="primary">Добавити</button>
    <button mat-button mat-dialog-close tabindex="-1">Відмінити</button>
  </mat-dialog-actions>
</form>
