<div *ngIf="errWithDisplayingSubjects">{{errWithDisplayingSubjects}}</div>

<table class="table mat-typography table-responsive table-hover">
  <thead>
  <tr>
    <th *ngFor="let col of displayedColumns">
      {{col}}
    </th>
  </tr>

  </thead>

  <tr *ngFor="let subject of subjects" class="mat-card">
    <td>
      {{subject.subject_id}}
    </td>
    <td>
      {{subject.subject_name}}
    </td>
    <td>
      {{subject.subject_description}}
    </td>
    <td>
      <i class="fa fa-pencil" aria-hidden="true"></i>

    </td>
    <td>
      <i class="fa fa-times" aria-hidden="true"></i>
    </td>

  </tr>

</table>

<mat-card *ngIf="numberOfRecords > 0">
  <div class="pagination-functionality">
    <button mat-raised-button (click)="goToPreviousPage()" [disabled]="currentPage === 1"><<</button>
    <button mat-raised-button *ngFor="let pageNumber of getButtonNumbers()"
            (click)="goToPage(pageNumber)"
            [class.active]=" pageNumber === currentPage">
      {{pageNumber}}
    </button>
    <button mat-raised-button (click)="goToNextPage()" [disabled]="isLastPage()"> >></button>
  </div>
  <div class="pagination-description">
    <div>{{currentPage}} cторінка із {{getNumberOfPages()}}</div>
    <div>Кількість предметів: {{numberOfRecords}}</div>
    <div *ngIf="errWithCountingRecords">{{errWithCountingRecords}}</div>
  </div>

</mat-card>

