<div *ngIf="errWithDisplayingSubjects">{{errWithDisplayingSubjects}}</div>

<table class="table mat-typography table-responsive table-hover">
  <thead>
  <tr>
    <th *ngFor="let col of displayedColumns">
      {{col}}
    </th>
  </tr>

  </thead>

  <tr *ngFor="let subject of subjects" >
    <td>
      {{subject.id}}
    </td>
    <td>
      {{subject.name}}
    </td>
    <td>
      {{subject.description}}
    </td>
    <td>
      <i class="fa fa-pencil" aria-hidden="true"></i>

    </td>
    <td>
      <i class="fa fa-times" aria-hidden="true"></i>
    </td>

  </tr>

</table>

<app-pagination (goToPage)="goToPage($event)"
                 (goToPrevPage)="goToPreviousPage()"
                  (goToNextPage)="goToNextPage()"
                  [isLoading]="isLoading"
                   [currentPage]="currPage"
                  [currentLimitPerPage]="currLimit"
                  [numberOfRecords]="numOfRecords"
                  [linkForRouting]="routeSubj"
                [errWithCounting]="errWithCountingRecords">
</app-pagination>

