<div *ngIf="errWithDisplayingFaculties" class="mat-error">{{errWithDisplayingFaculties}}</div>
<button  class="addButton" mat-raised-button color="primary" (click)="openDialog()">{{btnAdd}}</button>

<dtest-entity-table [entityName]="'Faculty'"  [columnsArray]="headingColumnsOfTable" [entityArray]="faculties"></dtest-entity-table>

<mat-paginator [length]="numberOfRecords"
               [pageSize]="limit"
               [pageSizeOptions]="pageSizeOptions"
               (page)="goPage($event)">
</mat-paginator>

