<mat-toolbar>
  <a mat-raised-button [routerLink]="['/welcome']" color="primary" [routerLinkActive]="navActiveClass"
     [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-home fa-lg"></i></a>
  <div class="login-container">
    <a *ngIf="!loginService.user.isLogged()" mat-raised-button color="primary"
       [routerLink]="['/login']"
       [routerLinkActive]="navActiveClass">Увійти</a>
    <a *ngIf="loginService.user.isLogged()" mat-raised-button color="primary"
       (click)="loginService.logout()">Вийти</a>
  </div>
  <mat-toolbar-row *ngIf="loginService.user.isAdmin()">
    <a mat-button color="primary" [routerLink]="['/faculties']" [routerLinkActive]="navActiveClass">Факультети</a>
    <a mat-button color="primary" [routerLink]="['/specialities']" [routerLinkActive]="navActiveClass">Спеціальності</a>
    <a mat-button color="primary" [routerLink]="['/groups']" [routerLinkActive]="navActiveClass">Групи</a>
    <a mat-button color="primary" [routerLink]="['/subjects']" [routerLinkActive]="navActiveClass">Предмети</a>
    <a mat-button color="primary" [routerLink]="['/timetable']" [routerLinkActive]="navActiveClass">Розклад</a>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="!loginService.user.isAdmin()">
    <a mat-button color="primary" [routerLink]="['/test-player']" [routerLinkActive]="navActiveClass">Почати тестування</a>
  </mat-toolbar-row>
