<mat-toolbar>

  <a mat-raised-button="" color="primary" [routerLink]="['/']" [routerLinkActive]="navActiveClass"
     [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a class="login" *ngIf="!loginService.user.isLogged()" mat-raised-button="" color="primary" [routerLink]="['/login']"
     [routerLinkActive]="navActiveClass">Увійти</a>
  <a class="login" *ngIf="loginService.user.isLogged()" mat-raised-button="" color="primary" [routerLink]="['/logout']"
     [routerLinkActive]="navActiveClass">Вийти</a>

  <mat-toolbar-row   *ngIf="loginService.user.isAdmin()">
    <a mat-raised-button  [routerLink]="['/students']" [routerLinkActive]="navActiveClass">Студенти</a>
    <a  mat-raised-button   [routerLink]="['/speciality/1']" [routerLinkActive]="navActiveClass">Спеціальності</a>
    <a  mat-raised-button  [routerLink]="['/subject/1']" [routerLinkActive]="navActiveClass">Предмети</a>
    <a mat-raised-button [routerLink]="['/faculties']" [routerLinkActive]="navActiveClass">Факультети</a>
    <a  mat-raised-button [routerLink]="['/timetable']" [routerLinkActive]="navActiveClass">Розклад</a>
  </mat-toolbar-row>

</mat-toolbar>
