<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th *ngFor="let col of tableColumns">{{col}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students" class="mat-card">
      <th>{{student.userId}}</th>
      <th>{{student.studentSurname}}</th>
      <th>{{student.studentName}}</th>
      <th>{{student.studentFname}}</th>
      <th>{{student.gradebookId}}</th>
      <th>{{student.groupId}}</th>
      <th><i class="fa fa-pencil" aria-hidden="true"></i></th>
      <th><i class="fa fa-times" aria-hidden="true"></i></th>
    </tr>
  </tbody>
</table>