<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content>
  <mat-card>
    <mat-form-field>
      <input matInput placeholder="{{placeholders.name}}">
    </mat-form-field>
    <mat-form-field class="text-area-container">
      <textarea matInput placeholder="{{placeholders.description}}"></textarea>
    </mat-form-field>

  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="modal-button" mat-raised-button color="primary">{{btnAdd}}</button>
  <button mat-button [mat-dialog-close]="true" tabindex="1">Install</button>
  <button mat-button mat-dialog-close tabindex="-1">Cancel</button>
</mat-dialog-actions>
