<div *ngIf="errWithDisplayingSubjects" class="mat-error">{{errWithDisplayingSubjects}}</div>
<button  class="addButton" mat-raised-button color="primary" (click)="openDialog()">{{btnAdd}}</button>

<app-entity-table [columnsArray]="headingColumnsOfTable" [entityArray]="subjects"></app-entity-table>

<app-pagination (goPage)="goPage($event)"
                (goPrev)="goPrev()"
                (goNext)="goNext()"
                [numberOfRecords]="numberOfRecords"
                [currentPage]="currentPage"
                [isLoading]="isLoading"
                [limitPerPage]="limitPerPage"
                [numberOfPagesToShow]="5"></app-pagination>
