<div class="col-md-12">
<table class="entity-grid table table-responsive table-hover">
  <thead>
    <tr>
      <th *ngFor="let col of columnsArray">{{col}}</th>
    </tr>
  </thead>
  <app-student-detail [student]="selectedStudent"></app-student-detail>
  <tbody>
    <tr *ngFor="let tableItem of tableArray"
        [class.selected]="student === selectedStudent"
        (dblclick)="onSelect(student)">
      <td *ngFor="let item of tableItem">{{item}}</td>
      <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
      <td><i class="fa fa-times" aria-hidden="true"></i></td>
    </tr>
  </tbody>
</table>
</div>