@import '~@angular/material/theming';
$dtest-primary: mat-palette($mat-indigo);
$dtest-accent: mat-palette($mat-blue-grey);
$dtest-warning: mat-palette($mat-red);
$dtest-light-theme: mat-light-theme($dtest-primary, $dtest-primary, $dtest-warning);
$primary-font-weight: 600;
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$basic-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);


