@import './../../_variables.scss';

table{
  margin-top: 50px;
  font-size: 15px;
  thead{
    tr{
      background: #f5f5f5;
      box-shadow: $basic-box-shadow;
    }
  }
  tbody{
    tr{
      display: table-row;
      box-shadow: $basic-box-shadow;
      &:hover{
        cursor: pointer;
      }
      td{
        i.fa{
          cursor: pointer;
          &.fa-pencil-square-o{
            color: #148038;
            &:hover{
              transform: scale(1.4);
            }
          }
          &.fa-times{
            color: rgb(218, 5, 5);
            &:hover{
              transform: scale(1.4);
            }
          }
        }
      }
    }
  }
}
